* {
	font-family: 'Karla', sans-serif;
	color: #F2F4F3;
	max-width: 100%;
}

#landing {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./images/landingbg.png');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	background-attachment: fixed;
}

.intro{
	font-family: 'Quicksand', sans-serif !important;
	font-weight: bold;
	letter-spacing: 1px;
}

.typewriter-container{
	display: inline-block;
}

.typewriter-text{
	font-family: monospace;
	letter-spacing: 1px;
	border-right: 1px solid;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation: 
		typing 2s steps(30),
		cursor .4s step-end infinite alternate;
}

@keyframes cursor{
	50% {border-color: transparent}
}

@keyframes typing{
	from {width: 0}
}

#landing-logos-container {
	margin-top: 5em;
	padding: 0;
	height: 3rem;
}

.social-icon{
	margin-left: 1%;
	margin-right: 1%;
}

.fa-icons{
	font-size: 27px;
	color: #0034ff;
	transition: transform 300ms;
}

.fa-icons:hover{
	transform: scale(1.5) translate(0, 5px);
	color: white;
}


#chevron-container{
	position: absolute;
	bottom: 0;

}

.fa-chevron-down{
	font-size: 30px;
	font-weight: 900;
	color: grey;
	transition: transform 300ms;
}

.fa-chevron-down:hover{
	transform: scale(1.5) translate(0, -5px);
	color: white;
}

#navbar {
	background-color: #061A40;
	padding-left: 50px;
	padding-right: 50px;
}

@media (min-width: 992px) {
  #navbar {
    height: 43px; /* Set a different height for larger screens */
  }
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

nav a {
	color: #F2F4F3;
}

#aboutMe {
	background-image: linear-gradient(rgba(0, 53, 89, 1), rgba(0, 109, 170, 1));
	padding-top: 5em;
}

#aboutMe div div div h1{
	font-size: 40px;
	font-weight: 600;
}

#aboutMe div div div h5{
	font-size: 25px;
}

#aboutMe div div p{
	font-size: 27px;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	color: white;
}

#tools {
	background-image: linear-gradient(rgba(0, 109, 170, 1), rgba(0, 53, 89, 1));
	padding-top: 3em;
	padding-bottom: 5em;
}

#tools div div h1{
	font-size: 40px;
	font-weight: 600;
}

.card {
	background-color: white;
}

.tool-card{
	width: 100px;
	border: 1px;
	border-radius: 20%;
	transition: transform 500ms;
}

.tool-card:hover, .tool-card:focus{
	transform: scale(1.3) translate(0px, 20px);
	box-sizing: border-box;
	overflow: clip;
 }

.card-title-s{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 10px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.card-title-s:hover{
	opacity: 1;
}

.card-title-l{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 10px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.card-title-l:hover{
	opacity: 1;
}

@media (min-width: 768px) {
  .card-title-s {
    font-size: 20px;
  }
  .card-title-l {
    font-size: 15px;
  }
}




#projects {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./images/projectsbg.jpg');
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	padding-top: 5em;
}

#projects div div h1 {
	font-size: 40px;
	font-weight: 600;
}

.card-proj{
	background-color: rgba(50, 50, 50, 0.6);
	transition: transform 500ms;
	font-size: 20px;
	font-weight: 600;
}

.card-proj:hover{
	transform: scale(1.05);
	background-color: rgba(50, 50, 50, 1);
}

#contact {
	background-color: #0A0908;
	padding-top: 3em;
	padding-bottom: 2em;
}

#contact div div div h1 {
	font-size: 40px;
	font-weight: 600;
}

.card-title{
	color: black;
}

.card-text{
	color: black;
}


